.section-photogallery {
  padding-top: 82px;
  padding-bottom: 170px;

  // media
  .mobile-middle({
    padding-top: 35px;
    padding-bottom: 39px;
  });

  &__title {
    z-index: 10;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 80px;

    padding-left: 170px;

    // media
    .tablet({
      padding-left: 20px;
    });

    .mobile-middle({
      margin-bottom: 33px;

      line-height: 40px;
      letter-spacing: -1.9px;
    });

    &::after {
      z-index: -1;
      content: '';
      position: absolute;

      top: -144px;
      left: 91px;

      width: 220px;
      height: 220px;
      background: transparent;
      border: 6px solid #DA353B;

      // media
      .tablet-big({
        top: -115px;

        width: 180px;
        height: 180px;

        left: 99px;
      });

      .mobile-middle({
        top: -53px;
        left: 116px;

        width: 143px;
        height: 143px;

        border: 3px solid #DA353B;
      });
    }
  }
}


// slick
.slider-photogallery__item {
  width: 380px;

  margin: 0 15px;

  // media
  .mobile-middle({
    width: 245px;
  });
}

.slider-photogallery__img-wrap {
  width: 380px;

  // media
  .mobile-middle({
    width: 245px;
  });
}
